$text-align: center;

.root {
  padding-bottom: 50px;
  width: 100%;
  display: table;
  min-width: 200px;
  background-color: transparent;
  transition: background-color .35s ease-in-out;
  text-decoration: none;
  user-select: none;
  border: none!important;
  box-sizing: border-box;
  vertical-align: bottom;
  &.simple{
    padding: 0 8px 15px 8px;
  }
}

:global(.findify-widget--products-carousel) .root:hover{
  background-color: inherit;
}

.image-wrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
}

.image {
  max-width: 100%;
  margin: 0 auto;
}

.content{
  font-size: 14px;
}

.title {
  $font-size: 1;
  $font-family: $font-base;
  $color: $color-black;
  $text-transform: none;
  width: 100%;
  color: $color;
  font-family: $font-family;
  text-transform: $text-transform;
  text-align: $text-align;
  font-size: calc($font-size-medium * $font-size)!important; /* FIXME: figure out issue with import order of styles */
  line-height: calc($font-size-medium * $font-size * 1.6);
}

.description {
  $font-size: 1;
  $color: #b2b2b2;
  $font-family: $font-base;
  font-family: $font-family;
  font-size: calc($font-size-medium * $font-size);
  color: $color;
  margin: 5px 0;
}

.rating {
  margin: 5px 0;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
}

.price-wrapper {
  margin-top: 20px !important;
  margin-bottom: 12px !important;
}

.color{
  text-transform: none;
  font-size: 13px;
  color: #b2b2b2;
  margin: 5px 0;
}

.out-of-stock{
  margin: 0;
  margin-top: -3px;
  font-size: 13px;
  color: #b2b2b2;
}

.discount-sticker {
  position: absolute;
  top: 4%;
  right: 4%;
  z-index: 50;
}

.variants {
  color: $color-grey-3;
  font-family: $font-base;
  font-size: $font-size-large;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
