.root{
  white-space: nowrap;
}

.breadcrumb{
  display: inline-block;
  font-size: $font-size-small;
  padding: 0;
  margin-left: 12px;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-grey-2;
  &:before{
    content: '/';
    color: $color-grey-2;
    display: inline-block;
    padding-right: 12px;
    font-size: 16px;
    vertical-align: -1px;
    font-weight: normal;
    font-family: $font-base;
  }
  &:hover{
    text-decoration: line-through;
    text-decoration-color: $color-black;
    color: $color-black;
  }
  &:first-child:before{
    color: $color-black;
  }
}

.ball{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: -1px;
}

.cross{
  vertical-align: -4px;
  transition: color .1s linear;
  padding-left: 5px;
}
