.wrap {
  width: 190px;
  background-color: #f7f7f7;
}

.wrap {
  display: table-cell;
  vertical-align: top;
  padding: 0 15px;
}

.title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.list{}

.item {
  font-size: 14px;
  padding: 6px 15px;
  margin: 0 -15px;
  display: block;
  color: #404040;
  cursor: pointer;
  position: relative;
  z-index: 1;
  &:hover {
    background-color: #ececec;
  }
  &.selected{
    background-color: #ececec;
  }
}

.highlighted-text {
  font-weight: 700;
}

.autocomplete-title {
  display: block;
  color: #b2b2b2;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
