.root{
  width: 100%;
  display: table;
  padding-top: 25px;
  border-top: 1px solid $color-grey-2;
}

.content{
  display: table-cell;
  width: 100%;
}

@supports(display: flex) {
  .root{
    display: flex;
    flex-direction: row;
  }
  .content{
    display: block;
  }
}

.tab {
  font-family: $font-base;
  text-transform: uppercase;
  font-size: $font-size-medium;
  &:after {
    display: block;
    height: 2px;
    width: 22px;
    margin-left: calc(50% - 11px);
    margin-right: calc(50% - 11px);
    margin-top: 8px;
    content: ' ';
  }
}

.active {
  &:after {
    background: black;
  }
}

.disabled {
  opacity: .3;
}
