.suggestion {
  $color: $color-black;
  $font-family: $font-base;
  $font-size: 1;
  color: $color;
  font-family: $font-family;
  font-size: calc($font-size-medium * $font-size);
  cursor: pointer;
  border-radius: 2px;
  text-align: left;
  padding: 10px;
  margin: 0 -10px;
  text-transform: capitalize;
  position: relative;
  &.horizontal {
    padding: 8px 15px;
    margin: 0 22px 12px -10px;
    background: $color-grey-1;
    display: inline-block;
    width: auto;
    border-radius: 17px;
    &:hover {
      background: $color-grey-2;
    }
  }
  &:before {
    content: ' ';
    display: table;
  }
  &:hover {
    background: $color-grey-1;
  }
}

.highlightedText {
  font-weight: bolder;
}

.highlighted:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 2px solid Highlight;
  border-color: -webkit-focus-ring-color;
}

.icon {
  margin-right: 8px;
  min-width: 14px;
}

.withIcon {
  /*
  padding-right: 3px;
  padding-left: 3px;*/
  display: flex !important;
  align-items: center;
}

.trending {
  font-style: italic;
}
