.suggestion {
  $color: $color-black;
  $font-family: $font-base;
  $font-size: 1;
  color: $color;
  font-family: $font-family;
  font-size: calc($font-size-large * $font-size);
  cursor: pointer;
  border-radius: 2px;
  text-align: left;
  padding: 10px 17px;
  margin-left: 10px;
  margin-right: 10px;
  &:before {
    content: ' ';
    display: table;
  }
  &:hover {
    background: $color-grey-1;
  }
}

.highlightedText {
  font-weight: bolder;
}

.highlighted {
  background: $color-grey-1;
}

.icon {
  margin-right: 16px;
}

.withIcon {
  /*
  padding-right: 3px;
  padding-left: 3px;*/
  display: flex !important;
  align-items: center;
}

.trending {
  font-style: italic;
}
