.root{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  background: white;

  display: flex;
  flex-direction: column;
}

.header{
  height: 60px;
  padding: 0 15px;
  background: $color-grey-1;
}

.body{
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}

.footer{
  height: 60px;
  padding: 0 15px;
  background: $color-grey-5;
}

.facet-title{
  padding: 20px 17px;
  width: 100%;
  border-top: 1px solid $color-grey-2;
  &:first-child{
    border-top: 0;
  }
}

.container{
  padding: 17px;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}
