.wrap {
  clear: fix;
  font-size: 14px;
}

.title {
  padding: 0 10px 5px 0;
  margin: 0;
  float: left;
}

.filter {
  float: left;
  position: relative;
  padding: 0 0 5px 0;

  &-title{
    padding: 0;
    & > div {
      display: inline-block;
    }
  }

  &:after {
    content: '/';
    display: inline-block;
    margin: 0 8px;
  }

  &-remove {
    margin: 0 0 0 5px;
    border: none;
    padding: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    width: .7em;
    height: .7em;
    display: inline-block;
    vertical-align: -1px;
  }

  &:last-child:after {
    display: none
  }
}

.color-filter {
  vertical-align: -1px;
  box-sizing: border-box;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0px;
  display: inline-block;
  border: 1px solid #6e6e6e;
}
