.root{
  text-align: center;
}

.load-next{
  margin-top: 10px;
}

.load-prev{
  margin-bottom: 10px;
}

.button{
  margin-top: 0;
  font-size: 13px;
  background-color: #E9E9E9;
  color: #4B4B4B;
  font-weight: bold;
  padding: 10px;
  border: none;
  outline: none!important;
  cursor: pointer;
  transition: background-color .1s ease-in, color .1s ease-in;
  &:hover {
    background-color: color(#ececec shade(2%));
    color: color(#4B4B4B shade(2%));
  }
}

.infinite{
  position: absolute;
  bottom: 0;
}
