npm-debug.log
lerna-debug.log
yarn-error.log
package.json.lerna_backup
node_modules
dist
coverage
doc
lib
types
typings
.released-packages
.npmrc
.env
packages/react-components/src/types
packages/config/src/types
packages/config/index.d.ts
packages/react-components/index.d.ts
*.d.ts
