.breadcrumbs{
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sort{
  margin-left: auto;
  margin-bottom: 20px;
}

.mobileSort{
  width: 100%;
}

.mobileFacetsButton{
  width: 100%;
}

.paddingLeft{
  padding-left: 10px;
}
.paddingRight{
  padding-right: 10px;
}

.content{
  display: table;
}

.filters{
  padding-right: 10px;
  display: table-cell;
}

.products{
  display: table-cell;
  width: 100%;
  padding-left: 15px;
  &:first-child{
    padding-left: 0;
  }
}

@supports(display: flex) {
  .content{
    display: flex;
    flex-direction: row;
    align-items: top;
  }
  .filters{
    display: block;
  }
  .products{
    display: block;
    flex: 1;
  }
}


.facets{
  min-width: 230px;
  padding-right: 30px;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}

.pagination{
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #eee;
}
