
$padding: 10px 11px;

.root{
  position: relative;
}

.select{
  $height: 40px;
  position: relative;
  border-radius: 0;
  height: $height;
  padding: $padding;
  padding-right: 40px;
  background: $color-grey-1;
  text-align: left;
  width: 100%;
}

.arrow{
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -8px;
}

.dropdown{
  $background: $color-white;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  background: $background;
  z-index: 9999;
  border: 1px solid $color-grey-2;
  box-sizing: border-box;
  box-shadow: 0 5px 10px -4px rgba(0,0,0,0.07);
  transition: transform .1s ease-in;
  transform-origin: center top;
  transform: scaleY(0);
  &.open {
    transform: scaleY(1);
  }
}
.root .dropdown{
  margin: 1px 0 0 0;
  padding: 0;
}

.option{
  display: block;
  text-align: left;
  font-size: $font-size-medium;
  background: transparent;
  border: none;
  margin: 0;
  border-radius: 0;
  height: $height;
  width: 100%;
  padding: $padding;
  cursor: pointer;
  box-sizing: border-box;
}

.label{
  position: absolute!important;
  display: block;
  visibility: visible;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}

.highlighted{
  $background: $color-grey-1;
  background: $background;
}
