:root{
  --colors-filter-header: #404040;
  --colors-filter-list: #404040;
  --colors-filter-selected: #404040;
  --colors-product-title: #404040;
  --colors-product-description: #b2b2b2;
  --colors-price-sale: #e73853;
  --colors-price-regular: #404040;
  --colors-autocompleteSuggestion-title: #404040;
  --typography-filter-font: 'Source Sans Pro', sans-serif;
  --typography-product-font: 'Source Sans Pro', sans-serif;
  --typography-product-size: 1;
  --typography-product-alignment: left;
  --typography-product-transform: none;
  --typography-price-font: 'Source Sans Pro', sans-serif;
  --typography-price-size: 1;
  --typography-autocompleteSuggestion-font: 'Source Sans Pro', sans-serif;
}

:global(.findify-root), :global(.frame-content){
/* Facet */
.facet{
  font-family: var(--typography-filter-font)!important;
}

.facetTitle{
  color: var(--colors-filter-header)!important;
}

.facetItem {
  color: var(--colors-filter-list)!important;
}

.facetItemSelected{
  color: var(--colors-filter-selected)!important;
}

/* PRODUCT */
.product{
  font-family: var(--typography-product-font)!important;
  text-align: var(--typography-product-alignment)!important;
  text-transform: var(--typography-product-transform)!important;
}

.productTitle {
  color: var(--colors-product-title);
  font-size: calc(var(--typography-product-size) * 1em);
}

.productDescription{
  color: var(--colors-product-description);
  font-size: calc(var(--typography-product-size) * 1em);
}

.productPrice{
  font-family: var(--typography-price-font);
  font-size: calc(var(--typography-price-size) * 1em);
}

.productPriceRegular{
  color: var( --colors-price-regular)!important;
}

.productPriceSale{
  color: var( --colors-price-sale)!important;
}

/* AUTOCOMPLETE */
.autocompleteSuggestion{
  font-family: var(--typography-autocompleteSuggestion-font)!important;
  color: var(--colors-autocompleteSuggestion-title)!important;
}
}
