/*
.root{
  will-change: filter, opacity, height;
  transform: filter .3s linear, opacity .3s linear, height .1s linear;
  display: none;
}

.thumbnail{
  display: block;
  height: 150px;
  opacity: .5;
  filter: blur(10px);
}

.original{
  display: block;
  opacity: 1;
  filter: blur(0);
  width: 100%;

}
*/
.root {
  will-change: filter, opacity, height;
  transform: filter .3s linear, opacity .3s linear, height .1s linear;
  width: 100%;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.thumbnail {
  opacity: .5;
  filter: blur(10px);
}

.croppedRoot {
  will-change: filter, opacity, height;
  transform: filter .3s linear, opacity .3s linear, height .1s linear;
  display: block;
  width: 100%;
  position: relative;
}

.loading {
  background-color: #F2F4F7
}
