.root {
  width: 100%;
  position: relative;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
  }
  &.aspect img{
    width: auto;
    position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
  }
}

@supports(object-fit: contain){
  .root.aspect img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.thumbnail {
  opacity: .5;
  filter: blur(10px);
  transition: opacity .1s ease-in;
  z-index: 2;
}

.ready .thumbnail{
  opacity: 0;
}

.static .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
