.root {
  width: 100%;
  position: relative;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
  }
  .next{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
  }
}

.aspect img{
  width: auto;
  position: absolute;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  left: -9999px;
  margin: auto;
}

@supports(object-fit: cover){
  .aspect img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image{
  opacity: 0;
  transition: opacity .3s ease-in-out;
  transition-delay: .3s;
  &:first-child{
    opacity: 1;
  }
}

[data-element='card']:hover, [data-element='card']:active {
   .multiple .image{
    opacity: 1;
    &:first-child{
      opacity: 0;
    }
  }
}

.thumbnail {
  opacity: .5;
  filter: blur(10px);
  transition: opacity .1s ease-in;
  z-index: 2;
}

.ready .thumbnail{
  opacity: 0;
}

.static .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
