
.item{
  $font-size: $font-size-medium;
  $padding: 3px 0;
  width: 100%;
  border: 0;
  background: transparent;
  outline: 0;
  font-size: $font-size;
  border-radius: 0;
  text-align: left;
  padding: $padding;
  height: auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  &.mobile{
    padding: 10px 0;
  }
}

.icon{
  flex: 0 0 auto;
}
.content{
  font-size: calc($facet-item-font-size * $font-size-medium);
  font-family: $facet-item-font-family;
  color: $facet-item-color;
  flex: 1 1 auto;
  padding-left: 14px;
}
