.root{
  padding: 15px 10px 10px;
}

.small{
  width: 210px;
}

.large{
  width: 600px;
}

.wrap {
  display: block;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.5);
  background: white;
  border-radius: 4px / 4px;

  &:before {
    content: ' ';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #f7f7f7;
    box-shadow: 2px -2px 2px 0 rgba(0,0,0,.15);
    transform: rotate(-45deg);
    top: -8px;
  }
}

.container {
  display: table;
  width: 100%;
}

.tip {
  user-select: none;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #b2b2b2;
}

.tip-query{
  color: #404040;
}

.matches {
  width: 400px;
}

.left:before {
  left: 20px;
}

.right:before {
  right: 150px;
}
