.root {
  background: white;
  border: 1px solid $color-grey-2;
  box-shadow: 0 5px 10px 0 rgba(71,89,113,0.5);
  position: absolute;
  z-index: 9999;
  width: 860px;
  max-width: 100vw;
  box-sizing: border-box;
}

.wrapper{
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  background: rgba(0, 0, 0, .3)
}

.not-found, .start-typing {
  margin-top: 0;
  color: $color-grey-3;
  font-size: $font-size-small;
  line-height: $font-size-small;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-base;
  padding-left: 25px;
}

.highlight {
  $highlight-color: #404040;
  color: $highlight-color;
}

.container {
  margin-bottom: 32px;
}

.fullscreen{
  left: 0!important;
  right: 0!important;
  width: auto!important;
  .root{
    width: 100%;
  }
}
