.root {
  width: 561px;
  /*
  height: 541px;
  max-height: 541px;*/
  //padding: 15px 10px 10px;
  background: white;
  border: 1px solid $color-grey-5;
  box-shadow: 0 5px 10px 0 rgba(71,89,113,0.5);
  border-radius: 5px;
  position: absolute;
  z-index: 99;
  padding-bottom: 0;
}

.type-title {
  margin-top: 0;
  margin-bottom: 17px;
  color: $color-grey-3;
  font-size: $font-size-small;
  line-height: $font-size-small;
  padding-top: 25px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-base;
}

.not-found, .start-typing {
  margin-top: 0;
  color: $color-grey-3;
  font-size: $font-size-small;
  line-height: $font-size-small;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-base;
  padding-left: 25px;
}

.tip {
  user-select: none;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.highlight {
  color: #404040;
}

.container {
  width: 100%;
  display: table;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product-matches-container {
  display: table-cell;
  vertical-align: top;
  padding: 0 15px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.suggestions-container {
  display: table-cell;
  vertical-align: top;
  padding: 0 30px;
  background: #fff;
  width: 206px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container {
  > *:first-child {
    border-right: 1px solid #e2e2e2;
  }
}
