.root{
  text-align: center;
  font-size: 14px;
  background: #f7f7f7;
  border: 1px solid #ececec;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: opacity;
  opacity: 1;
  &:hover{
    background: #ececec;
  }
}

.loading{
  pointer-events: none;
  opacity: 0.3;
}
