.container{

}

.item{
  display: inline-block;
  border: none;
  padding: 0;
  outline: none;
  margin-right: 5px;
  line-height: 1;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  position: relative;
  background: none;
  &.active .ball{
    border: 1px solid $color-grey-2;
  }
}

.ball{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-size: cover!important;
}

.check{
  position: absolute;
  left: 50%;
  top: 50%;
  color: $color-grey-1;
  margin-left: -6px;
  margin-top: -8px;
}
