.container{

}

.item{
  display: inline-block;
  border: none;
  padding: 0;
  outline: none;
  margin-right: 5px;
  line-height: 1;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  position: relative;
  background: none;
  &.active .ball:before{
    content: ' ';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid currentColor;
  }
}

.ball{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: cover!important;
  position: relative;
}

.check{
  position: absolute;
  left: 50%;
  top: 50%;
  color: $color-grey-1;
  margin-left: -6px;
  margin-top: -8px;
}
