.container{}

.item{
  display: inline-block;
  border: none;
  padding: 0;
  outline: none;
  margin-right: 5px;
  line-height: 1;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  position: relative;
  background: none;
}

.ball{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: cover!important;
  position: relative;
  span{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background: transparent;
    border: 1px solid currentColor;
  }
}

.not-mapped{
}

.ball-mobile {
  width: 40px;
  height: 40px;
}

.check{
  position: absolute;
  left: 50%;
  top: 50%;
  color: currentColor;
  margin-left: -6px;
  margin-top: -6px;
}
