.root{
  margin-bottom: 15px;
  &:last-child{
    margin-bottom: 0;
  }
}

.title{
  $font-size: $font-size-small;
  $text-transform: uppercase;
  display: block;
  text-align: left;
  width: 100%;
  font-size: 14px;
  margin: 0;
  padding: 0 20px 0 0;
  border: 0;
  outline: 0;
  border-radius: 0;
  font-size: $font-size;
  text-transform: $text-transform;
  cursor: pointer;
}

.body{
  $padding: 25px 0 0 0;
  padding: $padding;
}
