$height: 30px;
.root{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content{
  font-size: calc($facet-item-font-size * $font-size-medium);
  font-family: $facet-item-font-family;
  color: $facet-item-color;
}

.item{
  $font-size: $font-size-medium;
  $padding: 3px 0;
  width: 100%;
  border: 0;
  background: transparent;
  outline: 0;
  font-size: $font-size;
  border-radius: 0;
  text-align: left;
  padding: $padding;
  height: auto;
  cursor: pointer;
  display: table;
  & > span{
    display: table-cell;
    width: 100%;
  }
  svg {
    padding-right: 14px;
    vertical-align: -2px;
  }
}

.range{
  display: table;
  display: flex;
  width: 1%;
  padding-top: 10px;
  padding-left: 25px;
}

.input-block {
  display: table;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.input-wrap{
  display: table-cell;
  display: flex;
  position: relative;
  white-space: nowrap;
  width: 100%;
  :global(.react-numeric-input){
    display: inline-block;
    position: relative;
    z-index: 1;
  }
}

.input{
  $width: 60px;
  $indent: 8px;
  display: block;
  width: $width;
  margin: 0;
  box-sizing: border-box;
  height: $height;
  line-height: $height;
  padding: 0 8px;
  padding-left: calc(8px + $indent);
  background: transparent;
  color: $color-black;
  font-family: $font-base;
  font-size: $font-size-large;
  border: 1px solid $color-grey-2;
  transition: border-color .1s linear;
  outline: none;
  &:placeholder{
    color: $color-grey-1;
  }
  &:focus{
    border-color: $color-grey-3;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .input{
    font-size: 16px;
  }
}

.currency{
  $font-size: $font-size-medium;
  position: absolute;
  font-size: $font-size;
  top: 0;
  height: 100%;
  line-height: 1;
  display: flex;
  align-items: center;
  left: 9px;
  width: 0;
  z-index: 0;
}

.submit{
  $font-size: $font-size-medium;
  display: table-cell;
  display: flex;
  border: 0;
  background: transparent;
  outline: 0;
  font-size: $font-size;
  border-radius: 0;
  width: 100%;
  height: $height;
  line-height: $height;
  padding: 0 8px;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
  span {
    font-size: $font-size-small;
  }
}

.divider{
  display: table-cell;
  display: flex;
  padding: 0 6px;
  width: 1%;
}
