$height: 30px;
.root{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.range{
}

.input-block {
  padding-top: 10px;
}

.input-wrap{
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 8px;
  cursor: text;
  :global(.react-numeric-input){
    flex: 1 1 auto;
    z-index: 1;
    width: 100%;
    & b{
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px solid $color-grey-2;
      transition: border-color .1s linear;
      display: block;
    }
  }
}

.input{
  $width: 100%;
  display: block;
  width: $width;
  margin: 0;
  box-sizing: border-box;
  height: $height;
  line-height: $height;
  padding-left: 8px;
  background: transparent;
  color: $color-black;
  font-family: $font-base;
  font-size: $font-size-large;
  border: none;
  transition: border-color .1s linear;
  outline: none;
  z-index: 1;
  &:placeholder{
    color: $color-grey-1;
  }
  &:focus ~ b{
    border-color: $color-grey-3;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .input{
    font-size: 16px;
  }
}

.currency{
  $font-size: $font-size-medium;
  font-size: $font-size;
  height: 100%;
  z-index: 0;
}

.submit{
  $font-size: $font-size-medium;
  display: flex;
  border: 0;
  display: flex;
  align-items: center;
  height: 100%;
  background: transparent;
  outline: 0;
  font-size: $font-size;
  border-radius: 0;
  width: 100%;
  padding: 0 8px;
  cursor: pointer;
  justify-content: space-around;
  &:hover{
    text-decoration: underline;
  }
  span {
    font-size: $font-size-small;
  }
}

.divider{
  padding: 0 6px;
  display: flex;
  align-items: center;
  height: 100%;
}
