.selected-items {
  border-bottom: 1px solid #b2b2b2; 
}

.item {
  color: #404040;
  font-size: 14px;
  list-style: none;
  position: relative;
  padding: 2px 0;
  margin: 0;
  display: table;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.title {
  display: table-cell;
  white-space: nowrap;
  padding-left: 1em;
  .selected-items &{
    font-weight: 600;
  }
  & > div{
    display: inline-block;
  }
}

.count {
  color: #b2b2b2;
  display: table-cell;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  position: absolute;
  top: 6px;
  left: 0;
  width: .7em;
  height: .7em;
  fill: #404040;
  box-sizing: content-box!important;
}
