.root {
  width: 100%;
  background: white;
  height: 100%;
  width: 90vw;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-white;

  z-index: -1;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .input{
    font-size: 16px;
  }
}

.icons {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 16px;
  margin-top: 15px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  .search-icon {
    cursor: pointer;
    color: $color-black;
    path {
      fill: $color-black;
    }
  }

  .x-icon {
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}

.icon-divider {
  height: 18px;
  width: 1px;
  background: $color-grey-2;
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
}

.header {
  position: relative;
  input {
    width: 100%;
    height: 50px;
    font-family: $font-base;
    font-size: $font-size-large;
    line-height: 50px;
    color: $color-black;
    padding-left: 13px;
    box-sizing: border-box;
    border: 1px solid $color-grey-2;
    transition: border-color .1s linear;
    outline: none;
    &:placeholder {
      color: $color-grey-3;
    }
    &:placeholder{
      color: $color-grey-1;
    }
    &:focus{
      border-color: $color-grey-3;
    }
  }
}

.type-title {
  margin: 0;
  color: $color-grey-3;
  font-size: $font-size-small;
  line-height: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-base;
  padding: 25px 27px 17px 27px;
}

.suggestions-container {
}

.suggestions-wrapper {
  width: 100%;
  background: $color-white;
  padding-bottom: 40px;
}

.body-noscroll {
  overflow: hidden;
}

