.root {
  /* width: 355px; */
}

.grid-column-class:not(:last-child) {
  &:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 1px;
    background: $color-grey-2;
    margin-bottom: 16px;
  }
}

.view-more-button {
  margin: 0 auto 0 auto;
  display: block;
  padding: 0 85px;
  height: 40px;
  background: $color-grey-1;
  transition: background .1s linear;
  font-size: $font-size-small;
  width: 300px;

  &:hover {
    background: $color-grey-2;
  }
}
