
.selected-items {
  border-bottom: 1px solid #b2b2b2; 
}

.item {
  color: #404040;
  font-size: 14px;
  list-style: none;
  position: relative;
  padding: 2px 0;
  margin: 0;
  display: table;
  cursor: pointer;
  width: 100%;
}

.title {
  width: 100%;
  display: table-cell;
  .selected-items &{
    font-weight: 600;
  }
}

.count {
  color: #b2b2b2;
  display: table-cell;
  white-space: nowrap;
}

.checkbox {
  display: table-cell;
  padding-right: 5px;
  width: .7em;
  height: .7em;
  fill: #404040;
  box-sizing: content-box!important;
}
