.root{
  width: 100%;
}

.expanded-list{
  height: 300px;
}


.mobile {
  height: 100%;
  display: flex;
  flex-direction: column;
  & > section{
    height: 100%;
  }
}

.item{
  $font-size: $font-size-medium;
  $padding: 3px 0;
  width: 100%;
  border: 0;
  background: transparent;
  outline: 0;
  font-size: $font-size;
  border-radius: 0;
  text-align: left;
  padding: $padding;
  height: auto;
  cursor: pointer;
  display: table;
  padding-left: 25px;
  position: relative;
  & > span{
    display: table-cell;
    width: 100%;
  }
  svg {
    position: absolute;
    left: 0;
    top: 9px;
    vertical-align: -2px;
  }
}
.content{
  font-size: calc($facet-item-font-size * $font-size-medium);
  font-family: $facet-item-font-family;
  color: $facet-item-color;
}
.search{
  position: relative;
  $padding-bottom: 11px;
  width: 100%;
  padding-bottom: $padding-bottom;
  .icon{
    position: absolute;
    right: 11px;
    top: 50%;
    margin-top: -13px;
    pointer-events: none;
    color: $color-black;
  }
}

.input{
  background: $color-white;
  width: 100%;
  height: 40px;
  padding-right: 34px;
  padding-left: 11px;
  box-sizing: border-box;
  font-family: $font-base;
  font-size: $font-size-large;
  border: 1px solid $color-grey-2;
  transition: border-color .1s linear;
  outline: none;
  &:placeholder{
    color: $color-grey-1;
  }
  &:focus{
    border-color: $color-grey-3;
  }
}
.expand{
  margin-top: 20px;
  svg{
    vertical-align: -3px;
    padding-right: 5px;
  }
}


