.root {
  vertical-align: top;
  padding: 0 27px;
  background: #fff;
  margin-top: 20px;
}

.title{
  margin-top: 0;
  margin-bottom: 17px;
  color: $color-grey-3;
  font-size: $font-size-small;
  line-height: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-base;
}

.grid-column-class:not(:last-child) {
  &:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 1px;
    background: $color-grey-2;
    margin-bottom: 16px;
  }
}

.view-more-button {
  margin: 0 auto 0 auto;
  display: block;
  padding: 0 85px;
  height: 40px;
  background: $color-grey-1;
  transition: background .1s linear;
  font-size: $font-size-small;
  width: 300px;

  &:hover {
    background: $color-grey-2;
  }
}
