.root{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: white;

  display: flex;
  flex-direction: column;
}

.header{
  height: 60px;
  padding: 0 15px;
  background: $color-grey-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-grey-2;
  & > * {
    position: relative;
    z-index: 2;
  }
}

.body{
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}

.footer{
  height: 60px;
  padding: 0 15px;
  background: $color-grey-5;
  color: $color-white;
  font-size: $font-size-medium;
  text-transform: uppercase;
}

.title{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  user-select: none;
}

.item{
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0 17px;
  border-bottom: 1px solid $color-grey-2;
  svg{
    vertical-align: -3px;
    padding-right: 15px;
  }
}
