$padding: 25px;
$gutter: 40px;

.root{
  width: 300px;
  height: 100%;
  & .container{
    overflow: hidden;
    overflow-y: auto;
    max-height: auto;
    will-change: max-height;
  }
}

.horizontal{
  .container{
    display: flex;
    flex-direction: row;
    z-index: 3;
    background: white;
  }
}


.header{
  padding: 13px $padding 20px $padding;
  clear: fix;
  .horizontal &{
    display: none;
  }
}

.icon{
  float: left;
  padding-right: 10px;
}

.title{
  float: left;
}

.reset{
  float: right;
  padding: 2px 0;
  &:hover *{
    color: $color-grey-4
  }
}

.hide{
  float: right;
  padding: 0px;
  &:hover *{
    color: $color-grey-4
  }
  svg{
    vertical-align: -3px;
  }
}

.facet{
  padding: 20px $padding;
  border-top: 1px solid $color-grey-2;
  clear: fix;
  .horizontal &{
    background: white;
  }
}
