$padding: 25px;
$gutter: 40px;

.root{
  width: 300px;
  height: 100%;
  & .container{
    overflow: hidden;
    overflow-y: auto;
    max-height: auto;
    will-change: max-height;
  }
  &.sticky{
    position: sticky;
    top: 0;
  }
}

.horizontal{
  background: $horizontal-background;
  width: 100%;
  position: relative;
  max-width: 100vw;
  margin-bottom: 10px;
  .container{
    display: flex;
    flex-direction: row;
    z-index: 3;
    background: white;
    flex-wrap: wrap;
  }
}

.header{
  padding: 13px $padding 20px $padding;
  display: flex;
  flex-direction: row;
  align-items: center;
  .horizontal &{
    display: none;
  }
}

.title{

}

.icon{
  float: left;
  padding-right: 10px;
}

.reset{
  float: right;
  padding: 2px 0;
  &:hover *{
    color: $color-grey-4
  }
}

.hide{
  margin-left: auto;
  padding: 0px;
  &:hover *{
    color: $color-grey-4
  }
  svg{
    vertical-align: -3px;
  }
}
