$gutter: 20px;

.root{
  font-size: 0;
  line-height: 0;
  width: 100%;
}

.column{
  display: inline-block;
  box-sizing: border-box;
  min-height: 1px;
  font-size: $font-size-medium;
  line-height: $line-height;
  vertical-align: top;
}

@supports(display: flex) {
  .root{
    display: flex;
    flex-direction: row;
    align-items: top;
    font-size: inherit;
    line-height: inherit;
    flex-wrap: wrap;
  }
  .column{
    display: block;
  }
}

@for $i from 1 to 12 {
  .column-$i {
    width: calc(100 / 12 * $i)%;
  }
}
