.root{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row;
}

.container{
}

.column{
  box-sizing: content-box;
}

.column-auto{
  flex: 1;
}

.column-fit{
  width: auto;
}

/* @for $i from 1 to 12 {
  .column-$i {
    flex: 0 0 calc(100 / 12 * $i)%;
  }
} */
