.root {
  /*width: 561px;*/
  /*
  height: 541px;
  max-height: 541px;*/
  //padding: 15px 10px 10px;
  background: white;
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.wrapper{
  position: relative;
}

.type-title {
  margin-top: 0;
  margin-bottom: 17px;
  color: $color-grey-3;
  font-size: $font-size-small;
  line-height: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-base;
}

.suggestions-title{
  padding: 0 27px;
  white-space: nowrap;
}

.trending-title {
  font-style: italic;
}

.not-found, .start-typing {
  margin-top: 0;
  color: $color-grey-3;
  font-size: $font-size-small;
  line-height: $font-size-small;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-base;
  padding-left: 25px;
}

.tip {
  user-select: none;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}

.highlight {
  color: #404040;
}

.container {
  padding: 10px 0;
  vertical-align: top;
  background: #fff;
}
