.root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(17,17,17,0.4);
  z-index: -1;
}

.inputWrapper {
  input {
    width: calc(100% - 13px);
    height: 50px;
    font-family: $font-base;
    font-size: $font-size-large;
    line-height: 50px;
    color: $color-black;
    padding-left: 13px;
    &:placeholder {
      color: $color-grey-3;
    }
  }
}

.type-title {
  margin-top: 0;
  margin-bottom: 17px;
  color: $color-grey-3;
  font-size: $font-size-small;
  line-height: $font-size-small;
  padding-top: 25px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-base;
}

.suggestions-container {
  padding-left: 30px;
}

.suggestions-wrapper {
  width: 100%;
  background: $color-white;
  padding-bottom: 40px;
}

.body-noscroll {
  overflow: hidden;
}

.header {
  background-color:#475971;
  display: flex;
  justify-content: flex-end;
}

.searchIcon {
  margin-top: 12px;
  margin-bottom: 14px;
  margin-right: 16px;
  color: $color-white;
  path {
    fill: $color-white;
  }
}
