.root {
  display: table;
  font-size: 14px;
}

.input-wrap {
  display: table-cell;
  white-space: nowrap;
}

.commit-wrap {
  display: table-cell;
  width: 100%;
  text-align: right;
}

.input{
  margin: 0; 
  margin: 0 1px;
  width: 44px;
  padding: 3px 2px;
  border: 2px solid #ececec;
  outline: none;
  transition: border-color .1s ease-in;
  &:focus {
    border-color: color(#ececec shade(10%));
  }
  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
  }
}

.currency{
  margin: 0 0 0 3px;
  &.pull-right {
    margin: 0 3px 0 0;
  }
}

.button{
  font-size: 14px;
  color: #404040;
  background: #f7f7f7;
  text-transform: uppercase;
  border: 2px solid #f7f7f7;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .1s ease-in;
  outline: none!important;
  padding: 0 10px;
  height: 26px;
  &:hover {
    background-color: color(#f7f7f7 shade(5%));
  }
}

.separator{
  display: table-cell;
  padding: 0 10px;
}

@supports(display: flex) {
  .root{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .input-wrap{
    margin-bottom: 5px;
  }
  .commit-wrap {
    display: block;
    margin-bottom: 5px;
    flex: 1;
  }
  .separator{
    margin-bottom: 5px;
  }
}

