.price-wrapper {
  text-align: center;
  margin: 5px 0;
  line-height: inherit;
  clear: fix;
  .simple &{
    margin: 0
  }
}

.price {
  display: inline-block;
  .simple &{
    font-weight: bold;
  }
}

.compare {
  text-decoration: line-through
}
