.root{
  display: table;
}

.icon{
  display: table-cell;
  min-width: 17px;
}

.title{
  white-space: nowrap;
  display: table-cell;
  padding: 0 10px;
}

.dropdown{
  display: table-cell;
  width: 240px;
  position: relative;
  min-width: 240px;
}

@supports(display: flex){
  .root{
    display: flex;
    align-items: center;
  }
  .icon, .title, .dropdown{
    display: block
  }
}
