.root{
  will-change: filter, opacity, height;
  transform: filter .3s linear, opacity .3s linear, height .1s linear;
}

.loading{
  display: none;
}
.thumbnail{
  height: 150px;
  opacity: .5;
  filter: blur(10px);
}

.original{
  opacity: 1;
  filter: blur(0);
}
