.list {}

.item{
  display: inline-block;
  position: relative;
  z-index: 10;
  margin: 5px 5px 0 0;
  &:hover{
    z-index: 11;
  }
}

.ball {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  border: 2px solid #eee;
  outline: none;
  cursor: pointer;
  transition: border-color .1s ease-in;
  text-align: center;
  position: relative;
}

.check-mark {
  width: 12px;
  height: 12px;
  fill: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
}

.tooltip{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: auto;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 15px);
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  padding: .5em 1em;
  white-space: nowrap;
  margin-bottom: 11px;
  background-color: rgba(17,17,17,.9);
  transition: transform .1s ease-out .1s, opacity .1s ease-out .1s;
  &:before{
    content: ' ';
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(17,17,17,.9);
    top: -5px;
    left: 50%;
    margin-left: -5px;
  }
  .item:hover & {
    opacity: .8;
    visibility: visible;
    transform: translate(-50%, 7px);
  }
}
