$padding: 25px;

.root{}

.block{
  padding-bottom: $padding;
}

.blockInner{
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.sorting{
  margin-left: auto;
  padding-bottom: $padding;
}

.query{
  white-space: nowrap;
  text-overflow: elipsis;
}

.breadcrumbs{
}

.show-facets{
  margin-right: 60px;
  position: relative;
  &:after{
    content: ' ';
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: $color-grey-2;
  }
  svg{
    vertical-align: -4px;
    margin-right: 3px;
  }
  &:hover *{
    color: $color-grey-4;
  }
}
