$padding: 25px;

.root{
  display: table;
  display: flex;
  width: 100%;
  padding-bottom: 24px;
  flex-direction: row;
  align-items: center;
}

.block{
  display: table;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  flex-flow: row wrap;
}

.sorting{
  display: table-cell;
  display: flex;
  position: relative;
}

.query{
  display: table-cell;
  display: flex;
  white-space: nowrap;
}

.breadcrumbs{
  display: table-cell;
  display: flex;
}

.show-facets{
  margin-right: 60px;
  position: relative;
  &:after{
    content: ' ';
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: $color-grey-2;
  }
  svg{
    vertical-align: -4px;
    margin-right: 3px;
  }
  &:hover *{
    color: $color-grey-4;
  }
}
