$padding: 25px;

.root{
  display: table;
  width: 100%;
}

.block{
  display: table;
  width: 100%;
}

.sorting{
  display: table-cell;
  width: 240px;
  position: relative;
}

.query{
  display: table-cell;
  white-space: nowrap;
  width: 1%;
}

.breadcrumbs{
  display: table-cell;
}

@supports(display: flex){
  .root{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .block{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
  }
  .sorting{
    display: block;
    min-width: 240px;
  }
  .query{
    display: block;
    width: auto;
  }
  .breadcrumbs{
    display: block;
  }
}
