$font-family: $font-base;
$font-size: $font-size-medium;

.price-wrapper {
  text-align: center;
  margin: 5px 0;
  margin-top: 20px;
  line-height: inherit;
  clear: fix;
  .simple &{
    margin: 0
  }
}

.price {
  display: inline-block;
  .simple &{
    font-weight: bold;
  }
}

.compare {
  $color: $color-grey-4;
  text-decoration: line-through;
  color: $color;
  font-size: $font-size;
}


.price, .compare {
  font-family: $font-family;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.price {
  $color: $color-black;
  color: $color;
  font-size: $font-size;
  font-weight: bold;
}

.sale-price {
  $color: $color-red;
  color: $color;
  font-size: $font-size;
  padding-right: 5px;
}
