.root {
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  width: calc(100% - 24px);
  display: table;
  background-color: transparent;
  transition: background-color .1s ease-in-out;
  text-decoration: none;
  user-select: none;
  border: none!important;
  vertical-align: bottom;
  &:hover{
    background-color: $color-grey-1;
  }
}

.linkIcon{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
}

.image-wrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.image {
  max-width: 100%;
  margin: 0 auto;
}

.title {
  $font-size: 1;
  $font-family: $font-base;
  $color: $color-black;
  $text-transform: none;
  $text-align:left;
  width: 100%;
  color: $color;
  font-family: $font-family;
  text-transform: $text-transform;
  text-align: $text-align;
  font-size: calc($font-size-medium * $font-size)!important; /* FIXME: figure out issue with import order of styles */
  line-height: calc($font-size-medium * $font-size * 1.6);
}

.description {
  $font-size: 1;
  $color: #b2b2b2;
  $font-family: $font-base;
  font-family: $font-family;
  font-size: calc($font-size-medium * $font-size);
  color: $color;
  margin: 5px 0;
}
