
.body-no-scroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
}

.content{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
