.tip {
  user-select: none;
  cursor: pointer;
  text-align: center;
  padding: 16px 20px;
  font-family: $font-base;
  font-size: $font-size-large;
  color: #b2b2b2;
  background: $color-grey-1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight {
  color: #404040;
}
