:root {
/* Fonts */
--font-base: 'Source Sans Pro', sans-serif;
--font-size-14: 14px;
--font-size-18: 18px;
--line-height: 1.2;

/* Colors */
--color-base: #475971;
--color-base-dark: #2F3B4B;
--color-base-darker: #1F2732;

}
