.root {
  padding: 15px 10px;
  background: white;
  position: fixed;
  left: 10px;
  right: 10px;
  z-index: 9999;
  box-sizing: border-box;
}

.type-title {
  margin-top: 0;
  margin-bottom: 17px;
  color: $color-grey-3;
  font-size: $font-size-small;
  line-height: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-base;
}

.suggestions-title{
  padding: 0 27px;
  white-space: nowrap;
}

.trending-title {
  font-style: italic;
}

.not-found, .start-typing {
  margin-top: 0;
  color: $color-grey-3;
  font-size: $font-size-small;
  line-height: $font-size-small;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $font-base;
  padding-left: 25px;
}

.tip {
  user-select: none;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}

.highlight {
  color: #404040;
}

.container {
  padding: 10px 0;
  vertical-align: top;
  background: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  background: rgba(0, 0, 0, .3)
}


.header {
  position: relative;
  padding-bottom: 20px;
  input {
    width: 100%;
    height: 50px;
    font-family: $font-base;
    font-size: $font-size-large;
    line-height: 50px;
    color: $color-black;
    padding-left: 13px;
    box-sizing: border-box;
    border: 1px solid $color-grey-2;
    transition: border-color .1s linear;
    outline: none;
    &:placeholder {
      color: $color-grey-3;
    }
    &:placeholder{
      color: $color-grey-1;
    }
    &:focus{
      border-color: $color-grey-3;
      outline: none;
    }
  }
}

.icon-divider {
  height: 18px;
  width: 1px;
  background: $color-grey-2;
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
}

.icons {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 16px;
  margin-top: 15px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  .search-icon {
    cursor: pointer;
    color: $color-black;
    path {
      fill: $color-black;
    }
  }

  .x-icon {
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
