.wrap {
  margin-top: 0;
  font-size: 13px;
  background-color: #E9E9E9;
  color: #4B4B4B;
  font-weight: bold;
  padding: 7px 10px;
  margin-top: 5px;
  border: none;
  outline: none!important;
  cursor: pointer;
  transition: background-color .1s ease-in, color .1s ease-in;
  &:hover {
    background-color: color(#ececec shade(2%));
    color: color(#4B4B4B shade(2%));
  }
}

.sign{
  display: inline-block;
  padding-right: 4px;
}
.icon {
  padding-right: 8px;
  width: 10px;
  height: 10px;
  box-sizing: content-box!important;
  display: inline-block;
  vertical-align: -1px;
}
