.wrap {
  display: table-cell;
  vertical-align: top;
  padding: 0 15px;
  background: white;
}

.title {
  margin-top: 15px;
  margin-bottom: 21px;
}

.item {
  display: block;
  padding: 0 8px;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 14px;
  box-sizing: border-box;
}

.item-image {}

.item-rating {}

.item-src {
  display: block;
  width: 100%;
  height: auto;
}

.item-title {
  color: #404040;
  display: block;
  margin: 10px 0;
}

.item-price {
  color: #404040;
  font-weight: 700;
}

.item-price-discount {
    & + .matches {
      .item-price-regular {
        font-size: 12px;
        text-decoration: line-through;
        margin-left: 3px;
      }
    }
  }

.search-suggestions-title {
  display: block;
  color: #b2b2b2;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
