.tab-list {
  list-style-type: none;
  display: block;
  text-align: center;
}

.tab-header-item {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
  user-select: none;
}

.tab-body {

}
